@model WebVentas.Models.Producto

@{
    ViewData["Title"] = "Agregar";
}

<h4>Nuevo Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Agregar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codcom" class="control-label"></label>
                <input asp-for="Codcom" class="form-control" />
                <span asp-validation-for="Codcom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idmedida" class="control-label"></label>

                <select asp-for="Idmedida" class="form-control" id="ddlMedida"
                        asp-items="@(new SelectList(ViewBag.Idmedida,"Codigo","Descripcion"))" >
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pmayor" class="control-label"></label>
                <input asp-for="Pmayor" class="form-control" />
                <span asp-validation-for="Pmayor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipMer" class="control-label"></label>

                <select asp-for="IdTipMer" class="form-control" id="ddlIdTipMer"
                        asp-items="@(new SelectList(ViewBag.IdTipMer,"Codigo","Descripcion"))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CodSunat" class="control-label"></label>
                <input asp-for="CodSunat" class="form-control" />
                <span asp-validation-for="CodSunat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFamilia" class="control-label"></label>

                <select asp-for="IdFamilia" class="form-control" id="ddlFamilia"
                        asp-items="@(new SelectList(ViewBag.IdFamilia,"Id","Nombre"))">
                </select>
                <span asp-validation-for="IdFamilia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLinea" class="control-label"></label>

                <select asp-for="IdLinea" class="form-control" id="ddlLinea"
                        asp-items="@(new SelectList(ViewBag.IdLinea,"Id","Linea1"))">
                </select>
                <span asp-validation-for="IdLinea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
